<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title id="Enq">
	</title>
	<link th:href="@{../CSS/styles.css}" rel="stylesheet" />
</head>

<body>
	<div class="main" border="1" align="left">
		<!-- logo begin -->
		<div class="logo">
			<a href="http://localhost:8010/home">
				<img th:src="@{android-chrome-512x512.png}" alt="GET IMAGE" width="50" height="40">Lets Code !!
			</a>
		</div>
		<!-- logo close -->
		<img th:src="@{../images/pexels-photo-hp.jpg}" alt="image" width="1200" height="200">
		<h1>
			Enquiry us
		</h1>
		<div border="1" align="center">
		</div>
		<form action="/" class="decor">
			<input type="text" placeholder="Username">
			<input type="email" placeholder="Email">
			<textarea placeholder="Message..." rows="5"></textarea>
			<button type="submit" href="/">Submit</button>
	</div>
	</form>
</body>

</html>