<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<title id="title">Home page
	</title>
	<link th:href="@{../CSS/styles.css}" rel="stylesheet" />
</head>

<body>
	<div class="main" border="1" align="left">
		<!-- logo begin -->
		<div class="logo">
			<a href="http://localhost:8010/home">
				<img th:src="@{android-chrome-512x512.png}" alt="GET IMAGE" width="50" height="40">Lets Code !!
			</a>
		</div>
		<!-- logo close -->
		<img th:src="@{../images/pexels-photo-hp.jpg}" alt="image" width="1200" height="200">
		<h1>
			More on Software Testing
		</h1>
		<h2><strong> Give your details</strong></h2>
		<div class="h1" border="1" align="center">
			<h3>
				Enter your name
			</h3>
			<label for="looking for">Select courses:</label>
			<select name="course" id="course">
				<optgroup label="Backend Course">
					<option value="java">JAVA</option>
					<option value="python">Python</option>
				</optgroup>
				<optgroup label="UI courses">
					<option value="html">HTML</option>
					<option value="React js">React JS</option>
				</optgroup>
			</select>
			<input id="name" type="text">
			<button id="submit" type="button" onclick="EnterName()">Submit</button>
			</script>
			<a id="p_name" href="http://localhost:8010/student" target="_blank">
			</a>
			</p>
			<script>
				function EnterName() {
					let user = document.getElementById("name").value;
					document.getElementById("p_name").innerHTML = "Welcome to the world of testing " + user;
					newPageTitle = document.getElementById("name").value;
					document.title = "Welcome : " + newPageTitle;

				}
			</script>
		</div>
		<footer>
			<button id="e_name" type="button" onclick="myFunction()" target="_parent">Equiry us</button>
			<script>
				function myFunction() {
					window.open("http://localhost:8010/enquiry");
				}
			</script>
		</footer>
	</div>

</body>

</html>