<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<title id="title">Home page
	</title>
	<link th:href="@{../CSS/styles.css}" rel="stylesheet" />
</head>

<body>
	<div class="main" border="1" align="left">
		<!-- logo begin -->
		<div class="logo">
			<a href="http://localhost:8010/home">
				<img th:src="@{android-chrome-512x512.png}" alt="GET IMAGE" width="50" height="40">Lets Code !!
			</a>
		</div>
		<!-- logo close -->
		<!-- Button to open the modal login form -->
		<button onclick="document.getElementById('id01').style.display='block'">Login</button>

		<!-- The Modal -->
		<div id="id01" class="modal">
		  <span onclick="document.getElementById('id01').style.display='none'"
		class="close" title="Close Modal">&times;</span>

		  <!-- Modal Content -->
		  <form class="modal-content animate" action="/action_page.php">
		    <div class="imgcontainer">
		      <img th:src="@{./images/favicon-32x32.png}" alt="Avatar" class="avatar" width="60" height="60">
		    </div>

		    <div class="container">
		      <label for="uname"><b>Username</b></label>
		      <input type="text" placeholder="Enter Username" name="uname" required>

		      <label for="psw"><b>Password</b></label>
		      <input type="password" placeholder="Enter Password" name="psw" required>

		      <button type="submit">Login</button>
		      <label>
		        <input type="checkbox" checked="checked" name="remember"> Remember me
		      </label>
		    </div>

		    <div class="container">
		      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
		      <span class="psw">Forgot <a href="#">password?</a></span>
		    </div>
		  </form>
		</div>
		<h1>
			More on Software Testing
		</h1>
		<h2><strong> Give your details</strong></h2>
		<div class="h1" border="1" align="center">
			<h3>
				Enter your name
			</h3>
			<label for="looking for">Select courses:</label>
			<select name="course" id="course">
				<optgroup label="Backend Course">
					<option value="java">JAVA</option>
					<option value="python">Python</option>
				</optgroup>
				<optgroup label="UI courses">
					<option value="html">HTML</option>
					<option value="React js">React JS</option>
				</optgroup>
			</select>
			<input id="name" type="text">
			<button id="submit" type="button" onclick="EnterName()">Submit</button>
			</script>
			<a id="p_name" href="http://localhost:8010/student" target="_blank">
			</a>
			</p>
			<script>
				function EnterName() {
					let user = document.getElementById("name").value;
					document.getElementById("p_name").innerHTML = "Welcome to the world of testing " + user;
					newPageTitle = document.getElementById("name").value;
					document.title = "Welcome : " + newPageTitle;

				}
			</script>
		</div>
		<footer>
			<button id="e_name" type="button" onclick="myFunction()" target="_parent">Equiry us</button>
			<script>
				function myFunction() {
					window.open("http://localhost:8010/enquiry");
				}
			</script>
		</footer>
	</div>

</body>

</html>