<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title id="title">
		</title>
	</head>
<body bgcolor="grey">
	<div border ="1" align="center">
	<h1>
		Lets Code!!!!!
	</h1>
	<div border ="1" align="center">
	<h3>
		Enter your name
	</h3>
	<input id="name" type="text">
	<button id="submit" type="button" onclick="EnterName()">Submit</button>
	</script>
	<a id="p_name" href="http://localhost:8010/student" target="_blank">
			</a>
	</p>
	<script>
		function EnterName(){
			let user=document.getElementById("name").value;
			document.getElementById("p_name").innerHTML="Welcome to the world of testing "+user;
			newPageTitle = document.getElementById("name").value;
			        document.title = "Welcome : "+newPageTitle;
					
		}
	</script>
	</div>
</body>
</html> 